/* ExtraLight 200 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2") format("woff2");
}

/* Light 300 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-LightItalic.woff2") format("woff2");
}

/* Regular 400 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-RegularItalic.woff2") format("woff2");
}

/* Medium 500 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-MediumItalic.woff2") format("woff2");
}

/* SemiBold 600 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2") format("woff2");
}

/* Bold 700 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-BoldItalic.woff2") format("woff2");
}

/* ExtraBold 800 */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/atkinson/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2") format("woff2");
}
